<div class="col-md-12 ">
  <div class="card card-container">
    <img
      id="profile-img"
      src="assets/invest_smartly.png"
      alt="Invest Smartly"
      class="profile-img-card"
    />
    <div *ngIf="!isLoggedIn">
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="example: investsmartly02"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
            (input)="checkFormValidity()"
          />
          <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
            Username is required!
          </div>
        </div>
        <div class="form-group position-relative">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="**************"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            (input)="checkFormValidity()"
          />
          <i class="fa fa-eye-slash toggle-password" (click)="togglePasswordVisibility()"></i>
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">
              Password is required
            </div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        
        <div class="form-group text-right">
          <a class="font-weight-semi-bold" routerLink="/forgot-password">Forgot your password?</a>
        </div>
        
        <div class="form-group">
          <button class="btn btn-primary btn-block" [disabled]="!isFormValid">Login</button>
        </div>
        <div class="form-group text-align-center d-flex align-items-center">
          <span>You don't have an account yet?</span>
          <a class="font-weight-semi-bold ml-1" routerLink="/register">Sign up</a>
        </div>
        <div class="form-group">
          <div *ngIf="f.submitted && isLoginFailed" class="alert-login-fail alert-danger" role="alert">
            Login failed! <br /> {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="isLoggedIn" class="alert alert-success">
      Logged in as {{ roles }}.
    </div>
  </div>
</div>
