<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="assets/invest_smartly.png"
        alt="Invest Smartly"
        class="profile-img-card"
      />
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div *ngIf="!isSentMail" class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="example: investsmartly@gmail.com"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
          />
          <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">Email must be a valid email address</div>
          </div>
        </div>
        <div *ngIf="!isSentMail" class="form-group position-relative">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="**************"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            (input)="checkFormValidity()"
          />
          <i class="fa fa-eye toggle-password" (click)="togglePasswordVisibility('password', 'toggle-confirm-password')"></i>
        </div>
        <div *ngIf="!isSentMail" class="form-group position-relative">
          <label for="confirmPassword">Confirm password</label>
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            id="confirmPassword"
            placeholder="**************"
            [(ngModel)]="form.confirmPassword"
            required
            minlength="6"
            #confirmPassword="ngModel"
            (input)="checkFormValidity()"
          />
          <i class="fa fa-eye toggle-confirm-password" (click)="togglePasswordVisibility('confirmPassword', 'toggle-confirm-password')"></i>
        </div>
        <div *ngIf="isSentMail" class="form-group">
            <label for="verify_code">Verification code</label>
            <input
              type="text"
              class="form-control"
              name="verify_code"
              placeholder="example: 012521"
              [(ngModel)]="form.verify_code"
              required
              #verify_code="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && verify_code.errors && !isVerifyCode}"
            />
            <div *ngIf="!isVerifyCode && verify_code.errors && f.submitted" class="invalid-feedback">
              <div *ngIf="!isVerifyCode && verify_code.errors['required']">Verify verification code is required</div>
            </div>
          </div>

          <div  *ngIf="!isSentMail; else isCheckCode" >
            <button class="btn btn-primary btn-block" [disabled]="!isFormValid" >Send code</button>
          </div>
          
          <ng-template #isCheckCode>
            <button class="btn btn-primary btn-block" (click)="forgotPassword(form.verify_code, form.email, form.password, f)" >Confirm</button>
          </ng-template>
        
        <div class="form-group text-align-center d-flex align-items-center mt-3">
          <span>Go back</span>
          <a class="font-weight-semi-bold ml-1" routerLink="/login" style="text-decoration: none;">Login</a>
        </div>      
      </form>
    </div>
  </div>
  